---
# tasks file for common
- name: Install NGINX
  apt:
    pkg: 
    - nginx
    - git
    state: latest
    update_cache: true
- name: Start NGINX Service
  service:
    name: nginx
    state: started